.products-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-background-primary);
    overflow-y: auto;
}

